@font-face {
    font-family: 'BN Cringe Serif';
    src: url('BNCringeSerifLight.eot');
    src: local('BN Cringe Serif Light'), local('BNCringeSerifLight'),
        url('fonts/BNCringeSerifLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/BNCringeSerifLight.woff2') format('woff2'),
        url('fonts/BNCringeSerifLight.woff') format('woff'),
        url('fonts/BNCringeSerifLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Cringe Serif';
    src: url('BNCringeSerifRegular.eot');
    src: local('BN Cringe Serif'), local('BNCringeSerifRegular'),
        url('fonts/BNCringeSerifRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BNCringeSerifRegular.woff2') format('woff2'),
        url('fonts/BNCringeSerifRegular.woff') format('woff'),
        url('fonts/BNCringeSerifRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Cringe Serif';
    src: url('BNCringeSerifBlack.eot');
    src: local('BN Cringe Serif Black'), local('BNCringeSerifBlack'),
        url('fonts/BNCringeSerifBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/BNCringeSerifBlack.woff2') format('woff2'),
        url('fonts/BNCringeSerifBlack.woff') format('woff'),
        url('fonts/BNCringeSerifBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Cringe Serif';
    src: url('BNCringeSerifBold.eot');
    src: local('BN Cringe Serif Bold'), local('BNCringeSerifBold'),
        url('fonts/BNCringeSerifBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BNCringeSerifBold.woff2') format('woff2'),
        url('fonts/BNCringeSerifBold.woff') format('woff'),
        url('fonts/BNCringeSerifBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BN Cringe Serif';
    src: url('BNCringeSerifMedium.eot');
    src: local('BN Cringe Serif Medium'), local('BNCringeSerifMedium'),
        url('fonts/BNCringeSerifMedium.eot?#iefix') format('embedded-opentype'),
        url('fonts/BNCringeSerifMedium.woff2') format('woff2'),
        url('fonts/BNCringeSerifMedium.woff') format('woff'),
        url('fonts/BNCringeSerifMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Consolas';
    src: url('fonts/CONSOLA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.normal-text {
    font-family: 'BN Cringe Serif', serif;
    font-weight: normal;
    font-style: normal;
}

.bold-text {
    font-family: 'BN Cringe Serif', serif;
    font-weight: bold;
    font-style: normal;
}

.italic-text {
    font-family: 'BN Cringe Serif', serif;
    font-weight: normal;
    font-style: italic;
}

.bold-italic-text {
    font-family: 'BN Cringe Serif', serif;
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'BN Cringe Serif', serif;
    text-align: justify;
    color: #909090;
    background-image: url('assets/images/haveUSeen_background_CIAmode.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body.with-overlay {
    position: relative;
}

body.with-overlay::after {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815); /* Adjust the alpha value (last parameter) for opacity */
    z-index: -1; /
}

body.secretrave {
    position: relative;
}

body.secretrave::after {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #8bcf02; /* Adjust the alpha value (last parameter) for opacity */
    z-index: -1; /
}

body.parkanoakland {
    position: relative;
}

body.parkanoakland::after {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #47b9ff; /* Adjust the alpha value (last parameter) for opacity */
    z-index: -1; /
}

body.stoopfest {
    position: relative;
}

body.stoopfest::after {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgb(89, 138, 97);
    z-index: -1; /
}


.navbar {
    background: linear-gradient(to bottom, black 0%, #0b0b0be6 70%, #33333300 100%);
    justify-content: center;
    max-height: 190px;
    min-height: 50px;
}

.nav-items {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-left: 0;
    max-height: 190px;
}

.nav-items li {
    margin-right: 10px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.nav-items li:last-child {
    margin-right: 0;
}

.nav-items li a {
    font-size: min(4.5vw, 60px);
    color: #961515;
}

.nav-items a:hover {
    color: #555;
}

.logo {
    width: 10vw;
    max-width: 120px;
}

.header1 {
    font-family: 'BN Cringe Serif', serif;
    font-weight: bold;
    font-style: normal;
    font-size: clamp(1vw, 8vw, 125px);
    color: #961515;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin: 10px;
    background-color: #00000086;
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 30px; /* Add border-radius for rounded corners */
}

.header2 {
    font-family: 'BN Cringe Serif', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 5vw;
    color: #961515;
    /* -webkit-text-stroke: 3px black; */
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin: 10px;
    background-color: #00000086;
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 30px; /* Add border-radius for rounded corners */
}

.tofutonyscratch-gif {
    display: flex;
    justify-content: center;
}

.tofutonyscratch-gif img {
    width: 20vw;
}


#hero {
    background-color: #adadad00;
    padding: 50px 20px;
    text-align: center;
}

.scrolling-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.scrolling-text {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    animation: scroll 10s linear infinite, gray-red 5s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}
@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}
@keyframes gray-red {
    0% { color: #909090; }
    50% { color: #961515;}
    100% { color: #909090; }
}
@keyframes black-white {
    0% { background-color: black; }
    50% { background-color: gray;}
    100% { background-color: black; }
}
@keyframes music-fontColor-anim {
    0% { color: #909090; }
    45% { color: #856b6b; }
    50% { color: #611515;}
    52% { color: #c90000;}
    100% { color: #909090; }
}

/* INSTAGRAM FEED */
#instagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MUSIC LINKS */

#links-music {
    font-family:'BN Cringe Serif', serif;;
    font-size: 7vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    width: auto;
    max-width: 85%;
    background-color: #b3181886;
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 30px; /* Add border-radius for rounded corners */
    margin-top: 25px;
    margin-bottom: 25px;
}

#links-music a {
    color: white;
}

.links-music {
    font-family:'BN Cringe Serif', serif;;
    font-size: 7vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    width: auto;
    max-width: 85%;
    /* backdrop-filter: blur(10px); */
    border-radius: 30px; /* Add border-radius for rounded corners */
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: black;
}

.links-music a {
    color: white;
}
@media (min-width: 768px) {
    .links-music a {
        font-size: 4vw;
    }
    #links-music a {
        font-size: 4vw;
    }
}

.image-wrapper-icons {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-color: #909090;
    border-width: 2px;
}

.image-wrapper-icons::before {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 21, 21, 0); /* Initial color, transparent red */
    transition: background-color 0.3s; /* Smooth transition effect */
}

.image-wrapper-icons:hover {
    transform: scale(1.1);
    transition: background-color 0.3s;;
    background-color: rgba(150, 21, 21, 0.5);
    border-radius: 20px
}

.image-wrapper-icons img {
    display: block; /* Use block display for images */
    width: auto; /* Set width to auto to maintain aspect ratio */
    height: 6vw; /* Set the height based on your desired size */
    /* max-width: 100%; /* Ensure the image does not exceed its container's width */
    /* max-height: 100%; Ensure the image does not exceed its container's height */
}

/* MUSIC + LYRICS ALBUM PREVIEWS LINKS BOXES */

.album-preview {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    background-color: #000000db;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: auto;
    max-width: 80%;
}

.preview-image-link {
    width: auto;
    margin-right: 20px;
    max-width: 120px;
}

.preview-image-link img {
    /* min-width: 130px; */
    max-width: 100%;
    height: auto;
}

.preview-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.preview-title-link {
    text-decoration: underline;
    color: #961515;
    /* font-size: 5vw; */
}
.preview-title-link:hover {
    text-decoration: none;
    color: #c13838;
}

.preview-title {
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 100%;
}

.preview-description {
    /* display: flex; */
    text-align: left;
    margin: 0;
    line-height: 1.5;
    color: #961515;
    text-wrap: wrap;
}
.preview-description a {

    color: #909090;
    text-wrap: wrap;
}
.preview-description a:hover {
    text-decoration: none;
    color: #c13838;
}

.preview-lyrics-link {
    display: flex;
    margin-top: 10%;
    text-align: left;
    color: red;
    text-decoration: underline;
    font-style: italic; 
    animation: rainbow 4s linear infinite;
}

.music-heading-section{
    font-size: min(5vw, 50px);
    display: flex;
    justify-content: left;
    border-bottom: #909090 solid 5px;
    padding: 0;
    margin-bottom: 15px;
    color: #909090;
    background: linear-gradient(to top, black 0%, #33333300 100%);
    max-width: 100%;
}
.music-heading-section p{
    margin-bottom: 0px;
    padding-left: 7%;
}
/* end of MUSIC LINKS */




.youtube-income-container {
    width: auto;
    height: auto;
    margin: 10px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    /* height: 0; */
    overflow: hidden;
}

.youtube-income-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-income {
        display: flex;
        flex-direction: column;
}
/* FIX THIS SHIT PLEASE I WANT IT TO GO TO A ROW, SIDE-BY-SIDE LOOK ON BIG SCREEN BUT I CANT GET IT TO WORK AAAAAAAAAAAAAAAAAAAAAA */
@media (max-width: 768px) {
    .youtube-income {
        flex-direction: column;
    }
}

.videoPlayer-secretrave {
    aspect-ratio: 16 / 9;
    width: 50%;
}
@media (max-width: 768px) {
    .videoPlayer-secretrave {
        width: 95%;
    }
}

.secretRave-insta-container {
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .secretRave-insta-container {
        flex-direction: column;
    }
}



/* CONTACT */
#contact-links {
    text-align: center;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background: linear-gradient(to top, black 0%, #33333300 50%, black 100%);

}

#contact-links a {
    text-decoration: underline;
    color: whitesmoke;
    font-size: 8vw;
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
    flex-flow: column wrap;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #555;
}
/* end CONTACT end */

/* GALLERY */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 3vw;
    margin-right: 3vw;
}

.gallery-item {
    flex: 1 1 300px; /* Each item is at least 300px wide */
    max-width: calc(33.33% - 20px); /* Three items per row on larger screens */
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.gallery-item img:hover {
    transform: scale(1.04);
}

@media (max-width: 768px) {
    .gallery-item {
        max-width: calc(50% - 20px); /* Two items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .gallery-item {
        max-width: calc(100% - 20px); /* One item per row on even smaller screens */
    }
    .gallery {
        justify-content: center;
    }
}
/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1.02);
}
.modal.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.modal img {
    max-width: 90vw;
    max-height: 90vh;
    transition: transform 0.3s;
}
.modal .click-zone {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;
    cursor: pointer;
}
.modal .left-zone {
    left: 0;
}
.modal .right-zone {
    right: 0;
}
img[data-zoom] {
    cursor: zoom-in;
}
.modal.show img {
    cursor: zoom-out;
}

/* end GALLERY end */
/* MUSIC AND LYRICS */
.container {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.lyrics-container {
    max-width: 800px;
    margin: 0 20px; /* Adjust the left and right margin as needed */
    padding: 0;
    text-align: left;
}

.lyrics-container iframe {
    width: 100%;
    height: 315px;
}

.lyrics-container h3 {
    font-size: 24px;
    margin-top: 20px;
}

.lyrics-container p {
    font-size: 16px;
    line-height: 1.5;
}

.lyrics-album-heading {
    display: flex;
    justify-content: start;
    background-color: #00000086;
    backdrop-filter: blur(10px);
    max-width: 850px;
    padding: 20px; /* Add padding for spacing */
}

.lyrics-album-art {
    max-width: 200px;
    margin-right: 20px;
    height: auto;
    width: 35vw;
}

.lyrics-album-art-parent {
    display: block;
    align-content: center;
}

.lyrics-song-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.lyrics-song-title {
    font-size: auto;
    margin: 0;
    flex-wrap: nowrap;
    color: #b3b3b3;
}

.lyrics-album-link {
    font-size: 1.5em;
    color: #961515;
    text-decoration: underline;
}

.lyrics-album-link:hover{
    text-decoration: none;
    color: #c13838;
}

.lyrics-release-date {
    margin-top: auto; /* Push to the bottom */
    text-align: left; /* Align to the left */
}

.lyrics-block{
    text-align: center;
    font-size: clamp(10px, 5vw, 32px);
    color: #b3b3b3;
}

.lyrics-tracklist-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    flex-direction: row;
}
.lyrics-tracklist-box1 {
    width: 50%;
}
.lyrics-tracklist-box2 {
    width: 50%;
}

.lyrics-track {
    margin-bottom: 10px;
    font-size: 1em;
    text-decoration: underline;
    color: #b3b3b3;
    font-style: italic;
}

.lyrics-track-highlighted {
    margin-bottom: 10px;
    font-size: 1em;
    text-decoration: underline;
    color: #961515;
    font-style: italic;
}


.lyrics-track:hover {
    text-decoration: none;
    color: #c13838;
}

.song-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.song-buttons a {
    margin: 0 2vw;
    padding: 10px 0;
    color: #ac1717;
    text-decoration: underline;
    font-size: min(4vw, 35px);
    flex-wrap: nowrap;
    white-space: nowrap;
}

.song-buttons a:hover {
    color: #c13838;
}

/* IN YOUR DREAMS */
.project-main {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20x;
    padding: 20px;
    text-align: center;
    background-color: #00000086;
    backdrop-filter: blur(10px);
}

.album-cover {
    max-width: 350px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .album-cover {
        max-width: 200px;
    }
}

.album-title {
    font-size: 30px;
    margin: 10px 0;
    border-bottom: 1px solid #333;
}

.tracklist-section {
    margin-top: 20px;
    border-bottom: 1px solid #333;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.track-title {
    flex-grow: 1;
    text-align: left;
}

.lyrics-link {
    text-align: right;
    padding: 5px;
    color: #961515;
}

.lyrics-link:hover {
    color: #c13838;
}

.description-section {
    margin-top: 20px;
}

.album-description {
    font-style: italic;
}

.soundcloud-embed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soundcloud-embed iframe {
    width: 85vw;
}
/* end IN YOUR DREAMS */



.horizontal-rule {
    /* display: flex;
    justify-content: center; */
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: #1b1b1b solid 5px;
    max-width: 90%;
    font-size: 2.5vw;
    padding: 0;
}

section {
    padding: 10px 20px;
    text-align: center;
    text-size-adjust: 100%;
    margin: 0 auto; /* Center the paragraph horizontally */
    max-width: 1200px; /* Set a maximum width for the paragraph */

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #33333300;
    color: #961515;
    text-align: center;
    padding: 10px 0; /* Add padding to top and bottom */
}

#announcement {
    background: linear-gradient(to bottom, #3f0606, rgba(255, 0, 0, 0));
    animation: blurAnimation 3s infinite;
    backdrop-filter: blur(10px);
    max-width: 100%;
}
@keyframes blurAnimation {
    0% {
        filter: blur(1.5px);
    }
    75% {
        filter: blur(0px);
    }
    100% {
        filter: blur(1.5px);
    }
}


/* SHOWS PAGE */
.shows-section {
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 20x;
    padding: 20px;
    text-align: center;
    background-color: #0000009e;
    backdrop-filter: blur(10px);
    font-size: clamp(1rem, 2vw, 1.5rem); /* scalable, but capped */
}
.shows-section.past {
    background-color: #160000dc;
    font-style: italic;
}

.shows-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    text-align: center;
}

#shows-link {
    color: #961515;
    border: 2px solid #9615159c;
    padding: 4px 8px;
    text-decoration: none;
}
/* /////END OF SHOWS//// */
/* TESTIMONIALS */
.testimonials {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-size: large;
}

.testimonial {
    margin-bottom: 60px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.testimonial.left {
    text-align: left;
}

.testimonial.right {
    text-align: right;
}

.testimonial.fade-in {
    opacity: 100;
    transform: translateY(0);
}
/* /////////////////////// */
/* /////////////////////// */
.notepad-lyrics {
    font-family: 'Consolas', monospace;
    background-color: rgb(255, 255, 255);
    color: #1b1b1b;
    padding-left: 10vw;
    text-align: left;
}
.dynamic-lyrics-container {
    text-align: center;
}
#lyrics-text {
    margin-top: 0px;
}

.song-button-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7dbb01;
}

.song-button {
    margin: 5px; /* Increased margin for better spacing */
    padding: 5px; /* Added padding for a larger button area */
    border: none;  /* No border */
    background: none; /* No background */
    color: #000000; /* Text color */
    font-size: 24px; /* Increased font size */
    font-family: 'BN Cringe Serif';
    cursor: pointer;
    text-align: left; /* Align text to the left */
    transition: color 0.3s;
    border-radius: 5px;
}

.song-button:hover {
    background-color: #b30101;
}

.song-button.active {
    background-color: #b30101; /* Active button background */
    color: #ffffff; /* Optional: change text color for better contrast */
}

.lyrics-display {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    min-height: 100px;
}
/* /////////////////////// */
/* /////////////////////// */
/* DOWNLOADS PAGE!!!!!!! */
#download-list {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .download-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
/* /////////////////////// */
/* /////////////////////// */
/* links page */
  body.links {
    position: relative;
}

body.links::after {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #000000f1; /* Adjust the alpha value (last parameter) for opacity */
    z-index: -1; /
}